@mixin font-size($sizeValue: 24, $important: false) {
    @if $important {
      font-size: $sizeValue + px !important;
      font-size: ($sizeValue * 0.0625) + rem !important;
    } @else {
      font-size: $sizeValue + px;
      font-size: ($sizeValue * 0.0625) + rem;
    }
  }