$m-MainColor:#0984e3;
$m-MainHover:rgba($m-MainColor,0.7);
$m-SecondColor:rgba(#f0f0f0,0.5);	
$m-Black:#2d3436;
$m-Black-flat:rgba(#2d3436,0.4);
$m-sky-color :#7ed6df;
$m-sky-color2 :#3dc1d3;
$m-night-color :#0c2461;


