#profile {
  @extend .container-fluid !optional;
  .m-profile-container {
    @extend .container !optional;
    display: flex;
    padding: 0;
    padding-top: 1rem;
    @import "./profilePartials/profilesidenav";
    .m-profile-right {
      font-family: "Cairo" !important;
      @extend .col !optional;
      @extend .col-md-9 !optional;
      .profile-card {
        background-color: white;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: 1px solid rgba($m-Black-flat, 0.1);
        padding-left: 2rem;
        padding-right: 2rem;

        &__head {
          text-align: right;
          height: 3rem;
          h3 {
            line-height: 2rem;
            font-weight: 400;
          }
          border-bottom: 1px solid rgba($m-Black-flat, 0.1);
        }
      }
    }
  }
}
